@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #000000;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

.containerBk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardBk {
  margin: 1rem;
  width: 300px;
  height: 300px;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(black, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  /* overflow: hidden; */

  &:hover {
    transform: translateY(-5px);
  }

  .imgBk {
    width: 30vh !important;
    height: 40vh !important;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
    }
  }

  .titleBk {
    color: white;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;

    &--legendary {
      background-color: #f4d03f;
      &:hover {
        box-shadow: 0 0 12px rgba(#f4d03f, 0.8);
      }
    }

    &--epic {
      background-color: #8c14fc;
      &:hover {
        box-shadow: 0 0 12px rgba(#8c14fc, 0.8);
      }
    }

    &--common {
      background-color: #2ecc71;
      &:hover {
        box-shadow: 0 0 12px rgba(#2ecc71, 0.8);
      }
    }
  }

  .descBk {
    text-align: center;
  }

  .actionsBk {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    button {
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      outline: 0;
      transition: background-color 0.4s, color 0.4s, transform 0.1s;

      &:hover {
        color: white;
        box-shadow: 0 0 24px rgba(black, 0.2);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 0 16px rgba(black, 0.3);
      }
    }

    &__like {
      &:hover {
        background-color: #00b16a;
      }
    }

    &__trade {
      &:hover {
        background-color: #3498db;
      }
    }

    &__cancel {
      &:hover {
        background-color: #c0392b;
      }
    }
  }
}

/* addmin over-all css */

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon,
.icon_header {
  margin-right: 5px;
}
.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(243, 228, 228, 0.389);
}
.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 150vh;
  background-color: #0f0f0f;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar-list-item {
  display: flex;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* End Sidebar  */

/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  height: 150px;
  font-size: 25px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

/* .inv{
    grid-area: main;
    height: 100vh;
    border: 2px orange;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #9e9ea4;
    
    overflow: hidden;
    padding: 20% 20%;
  } */

/*.inv-con{
    width: 20%;
    height: 80%;
    background: #008998;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: center;
    padding: 5%;
   color: aqua;
  }*/

.gen {
  grid-area: main;
}
.main-inv {
  grid-area: main;
}
.inv-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 3%;
  border-radius: 5px;
  gap: 2rem;
}
.inv-list:first-child {
  background-color: #2962ff;
}
.inv-list:nth-child(2) {
  background-color: #ff6d00;
}
.inv-list:nth-child(3) {
  background-color: #2e7d32;
}
.inv-list:nth-child(4) {
  background-color: #d50000;
}
.inv-list:nth-child(5) {
  background-color: #e600ffea;
}
.invcard-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 25px;
}

.invcard-inner > .invicon {
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 100px;
}
.inven {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*new book*/
.main-bk,
.main-abk {
  display: grid;
  grid-area: main;
  background-color: black;
  align-items: center;
}
.main-gen,
.main-u,
.main-preu {
  display: grid;
  grid-area: main;
  background-color: black;
}
.inbk,
.ingen {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headbk img {
  display: block;
  width: 200px;
  padding-left: 42%;
}
.line {
  display: block;
  color: var(--whiteColor);
  background: hsl(17, 98%, 57%);
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 25px;
}
.inputbk label {
  color: white;
  padding-left: 3%;
}
.input-flexbk {
  padding-left: 3%;
  color: #252525;
}

.input-flexbk input {
  width: 500px;
  height: 30px;
  font-size: medium;
}
.input-flexbk textarea {
  font-size: large;
}

.innerbk {
  display: flex;
  font-size: medium;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

.outbk {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 5%;
}
.adbtn {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: hsl(17, 98%, 57%);
  border: none;
  color: white;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 20%;
  gap: 2.5rem;
  transition: 0.3s ease;
}
/*genre*/
.headgen img {
  display: block;
  width: 200px;
  padding-left: 42%;
}
.img {
  display: block;
  width: 200px;
  padding-left: 5%;
}
.gline {
  gap: 50px;
  display: block;
  color: var(--whiteColor);
  background: hsl(17, 98%, 57%);
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 25px;
}
.genbk label {
  color: white;
  padding-left: 46%;
  font-size: large;
  font-weight: bold;
}
.ingen {
  gap: 6rem;
}
.genbk {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.input-flexgen {
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  gap: 5rem;
  padding-bottom: 8%;
}

.input-flexgen input {
  width: 500px;
  height: 30px;
  font-size: medium;
  text-align: center;
}
.genbtn {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: hsl(17, 98%, 57%);
  border: none;
  color: white;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 20%;
  gap: 2.5rem;
  transition: 0.3s ease;
}
/*test*/
.main-book {
  background-color: antiquewhite;
  grid-area: main;
}

/* books in admin panel */
.main-book {
  background-color: rgb(9, 9, 9);
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bcards {
  /* display: flex;
  flex-direction: columns;

  gap: 40px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
  margin-left: 2%;
  margin-right: 2%;
}
.bkcard {
  /* width: 50%;
  height: 150px;

  /* padding: 5px 230px; */
  /* background: #d50000;
  color: white;
  overflow: hidden;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 25px;
  height: auto;
}
.bkcard:first-child {
  background-color: #2962ff;
}

.bkcard:nth-child(2) {
  background-color: #ff6d00;
}

.table {
  border-collapse: separate;
  width: 100%;
  color: #ffffff;
  overflow-x: auto;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th {
  background-color: #6e6c6c;
}
.tbhead {
  text-align: center;
}
.tbimg {
  column-width: 100px;
  text-align: center;
  overflow-x: auto;
}
.tbdesp {
  column-width: 1000px;
}
.tbcon {
  column-width: 100px;
  overflow-x: auto;
}
.innbk {
  display: flex;
  gap: 4.2rem;
  padding-right: 24.2%;
}
